{% load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Locate us</title>
  <link rel="stylesheet" href="{% static '/css/locateus.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" href="{%static '/images/icon2.png' %}" type="image/x-icon">
</head>
<style>
  body{
    background-image: url("{%static '/images/puppy.jpg' %}");
  }
  .logo_inner{
    background-image: url("{%static '/images/logo2.png' %}");
  }
  .logo_inner:hover{
    background-image: url("{%static '/images/home2.png' %}");
  }
</style>

<body>
  <div class="layer layer1"></div>
    <div class="text_">
      <a href="/home"><div class="logo_inner"></div></a>
      <p>
        We're AOCNA
      </p>
    </div>
    <!-- <div class="logo_inner"></div> -->
  <div class="layer layer2"></div>
  <div class="flip-card f1">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/kolkata.jpg' %}" alt="KOLKATA" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>KOLKATA</h1>
        <p>
          1. 16/1/C Tarka Siddhanta Lane
          Bally 711201
          (M) +91 75839-25266
          2. 380/C , 1st Floor Sector 10
          Kolkata 201301
          (M) +91 82509-87873
          3. 308 FSant Rd , Ground Floor
          Kolkata 400001
          (M) +91 76845-22332
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f2">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/delhi.jfif' %}" alt="DELHI" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>DELHI</h1>
        <p>
          67/8 Vandana Bldg Tilak Road Ghatkoper
          Near Vandana Railway Station
          Delhi - 400077
          (M) +91 88772-23456
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f3">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/bangalore.jpg' %}" alt="BANGALURU" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>BANGALURU</h1>
        <p>
          J-66 Main Market Rajouri Garden
          Near ICICI Bank Branch
          Bengaluru 110027
          (M) +91 85649-25255
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f4">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/mumbai.jfif' %}" alt="MUMBAI" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>MUMBAI</h1>
        <p>
          271/A Raman Smruti Bldg
          V P Road Girgaon
          Mumbai 400004
          (M) +91 87875-26358
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f5">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/hydra.jpg' %}" alt="HYDRABAD" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>HYDRABAD</h1>
        <p>
          950 Ganesh Tower Bldg
          Nr Railway Stnnaupada Naupada
          Hyderabad 400602
          (M) +91 87875-27878
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f6">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/chennai.jpg' %}" alt="CHENNAI" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>CHENNAI</h1>
        <p>
          4107 Bhandup Industrial Estate
          L B S Road Pannalal Silk Mill Compund Bhandup
          Chennai 400078
          (M) +91 83654-27878
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f7">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/vizag.jpg' %}" alt="VIZAG" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>VIZAG</h1>
        <p>
          Plot No: A/270 T.t.c.
          Industrial Area Kopar Khairane
          Visakhapatnam 400709
          (M) +91 83654-27878
        </p>
      </div>
    </div>
  </div>
  <div class="flip-card f8">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img src="{% static '/images/pune.jpg' %}" alt="PUNE" style="width:300px;height:300px; border-radius: 30px;">
      </div>
      <div class="flip-card-back">
        <h1>PUNE</h1>
        <p>
          COMING SOON
        </p>
      </div>
    </div>
  </div>
</body>

</html>